<!-- Dropdown for "Usuarios" -->
<ul id="user-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/user/modify">
      <i class="large material-icons" style="margin: 2px;">person_add</i>
      Modificar Usuario
    </a>
  </li>
  <li>
    <a href="/login">
      <i class="large material-icons" style="margin: 2px;">login</i>
      Ingresar con otra cuenta
    </a>
  </li>
  <li>
    <a href="/logout">
      <i class="large material-icons" style="margin: 2px;">logout</i>
      Salir
    </a>
  </li>
</ul>

<ul id="actions-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/user/listBooks">
      <i class="large material-icons" style="margin: 2px;">
        library_books
      </i>
      Listar libros
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/user/Penalties">
      <i class="large material-icons" style="margin: 2px;">
        money_off
      </i>
      Multas
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/user/loan">
      <i class="large material-icons" style="margin: 2px;">
        book
      </i>
      Pr茅stamos
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/user/reserveBook">
      <i class="large material-icons" style="margin: 2px;">
        event_note
      </i>
      Reservar libro
    </a>
  </li>
</ul>

<!-- Inicia marcado de barra de navegaci贸n -->
<nav class="blue darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <!-- Visualizaci贸n de navegaci贸n en pantalla completa -->
      <a href="/user/userHome" class="brand-logo" style="margin-left: 50px;">
         BiblioTec
      </a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li>
          <a href="/user/userHome">
            <i class="large material-icons right">
              home
            </i>
            Inicio
          </a>
        </li>

        <!-- Actions Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="actions-dropdown-menu">
            Acciones
            <i class="material-icons right">
              menu
            </i>
          </a>
        </li>
        <!-- User Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="user-dropdown-menu">
            Usuario
            <i class="material-icons right">
              people
            </i>
          </a>
        </li>
      </ul>
      <!-- Visualizaci贸n de Navegaci贸n para m贸viles -->
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">
          menu
        </i>
      </a>
      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="/user/userHome">
            <i class="large material-icons left">
              home
            </i>
            Inicio
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/user/listBooks">
            <i class="large material-icons left">
              library_books
            </i>
            Listar libros
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/user/Penalties">
            <i class="large material-icons left">
              money_off
            </i>
            Multas
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/user/loan">
            <i class="large material-icons left">
              book
            </i>
            Pr茅stamos
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/user/reserveBook">
            <i class="large material-icons left">
              event_note
            </i>
            Reservar libro
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/logout">
            <i class="material-icons left">
              exit_to_app
            </i>
            Salir
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>