<!-- Dropdown for "Usuarios" -->
<ul id="user-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/root/userList">
      <i class="large material-icons" style="margin: 2px;">person_add</i>
      Modificar Usuarios
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/logout">
      <i class="large material-icons" style="margin: 2px;">logout</i>
      Salir
    </a>
  </li>
</ul>

<ul id="actions-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/root/addBook">
      <i class="large material-icons" style="margin: 2px;">library_add</i>
      Agregar libro
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/listBooks">
      <i class="large material-icons" style="margin: 2px;">library_books</i>
      Listar libros
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/Penalties">
      <i class="large material-icons" style="margin: 2px;">money_off</i>
      Multas
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/reports">
      <i class="large material-icons" style="margin: 2px;">book</i>
      Reportes
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/reserveBook">
      <i class="large material-icons" style="margin: 2px;">event_note</i>
      Reservar libro
    </a>
  </li>
</ul>

<!-- Inicia marcado de barra de navegaci贸n -->
<nav class="blue darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <!-- Visulizaci贸n de navegaci贸n en pantalla completa -->
      <a href="/root/rootHome" class="brand-logo" style="margin-left: 50px;">
         BiblioTec
      </a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li>
          <a href="/root/rootHome">
            <i class="large material-icons right">
              home
            </i>
            Inicio
          </a>
        </li>

        <!-- Actions Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="actions-dropdown-menu">
            Acciones
            <i class="material-icons right">
              menu
            </i>
          </a>
        </li>
        <!-- User Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="user-dropdown-menu">
            Usuarios
            <i class="material-icons right">
              people
            </i>
          </a>
        </li>
      </ul>
<!-- Visualizaci贸n de Navegaci贸n para m贸viles -->
<a href="#" data-target="nav-mobile" class="sidenav-trigger">
  <i class="material-icons">
    menu
  </i>
</a>
<ul id="nav-mobile" class="sidenav">
  <li>
    <a href="/root/rootHome">
      <i class="large material-icons left">
        home
      </i>
      Inicio
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/addBook">
      <i class="large material-icons left">
        library_add
      </i>
      Agregar libro
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/listBooks">
      <i class="large material-icons left">
        library_books
      </i>
      Listar libros
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/Penalties">
      <i class="large material-icons left">
        money_off
      </i>
      Multas
    </a>
  </li>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/reserveBook">
      <i class="large material-icons left">
        event_note
      </i>
      Reservar libro
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/logout">
      <i class="material-icons left">
        exit_to_app
      </i>
      Salir
    </a>
  </li>
  <li class="divider"></li>
</ul>
</div>
</div>
</nav>