body{
  padding: 50px;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}
h1{
  color: teal;
}
#brand-logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-title.add-project{
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 6);
  font: 24px;
}

#brand-logo-img img {
  margin-right: 10px; /* Add some space between the image and text if desired */
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 70%;
  left:40%;
}
.logo{
  width: 130px;
  margin: auto;
}

.tituloBibliotec
{
  font-family: 'Monserrat';
}

.imageBackground
{
  width: 550px;
  height: 400px;
}

.logoLogin
{
  width: 200px;
  height: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: blueviolet;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-action a {
  color: #007BFF;
  text-decoration: none;
}