{{> navbarDefault}}


<section class="section">
  <div class="container">
    <h1 class="center-align">About BiblioTec</h1>
    <p class="flow-text" style="text-align: justify;">
      Sistema de biblioteca digital para el Tecnologico de Gustavo A. Madero
      Como proyecto final de la materia DWPC-II, desarrollado por los alumnos
      de la carrera de Tecnologias de la Información Y Comuniaciones.
    </p>
    <p class="flow-text" style="text-align: justify;">
      El sistema esta desarrollado con Node.js, Express, Handlebars, Materialize
      y MongoDB.
    </p>
    <p class="flow-text" style="text-align: justify;">
      Alumnos: David Israel González Osorio - Juan Manuel Ramos de la Torre
    </p>
    <p class="divider"></p>
    <p style="text-align: center;">App Version: {{ appVersion }}</p>
  </div>
</section>