{{> navbarDefault}}

<div class="row center light-blue lighten-4" 
  style="margin:3em; padding: 2em; border-radius: 1em;">
  <h1 class="tituloBibliotec header center teal-text">BIBLIOTEC</h1>
  <img class="imageBackground" src="/images/imageBook.png" alt="virtualBook">
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
      Bienvenido a la biblioteca del Tecnologico Nacional de México Campus Gustavo A. Madero
    </h5>
    <h4 class="header col s12 light grey-text text-darken-3 justify-text">
      Dentro, podrás consultar los diversos libros que tenemos, así como también podrás reservarlos.
      Podrás manejar todo esto y más en tu cuenta de usuario, anímate a registrar una cuenta con nosotros.
    </h4>
  </div>
  <div class="row center">
    <a href="/user/register" id="download-button"
      class="btn-large waves-effect waves-light teal">Crear una cuenta</a>
  </div>
</div>