{{> navbarDefault}}
<!-- FILEPATH: /workspaces/ProyectoDWPII/server/views/user/logout.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Saliste de tu sesión</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .logout-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-top: 50px; /* Add margin-top to create space between navbar and logout-container */
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-top: 0;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="logout-container">
        <h1>Saliste de tu sesión</h1>
        <p>Gracias por utilizar nuestro servicio. Esperamos verte pronto nuevamente.</p>
        <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en acudir personalmente a la biblioteca.</p>
        <p>¡Hasta luego!</p>
    </div>
</body>
</html>
