{{> navbarUser}}
<!-- FILEPATH: /workspaces/ProyectoDWPII/server/views/user/logout.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Saliste de tu sesión</title>
    <style>
        h1 {
            font-size: 24px;
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Saliste de tu sesión</h1>
</body>
</html>
