{{> navbarUser}}

<!-- User Home Body Markup -->
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col s12">
      <div class="blue darken-3" style="padding: 20px; text-align: center; color: white;">
        <img style=" width: 500px; margin: auto;" src="/images/userHomeImage.jpeg" alt="Imagen pagina de inicio de usuario">
        <h3>¡Bienvenido a BiblioTec!</h3>
        <p class="textUserHome">Descrubre los diversos libros que tenemos!</p>
        <p class="textUserHome">Con tu cuenta puedes listar los diversos libros que tenemos.</p>
        <p class="textUserHome">Consultar tus multas, visualizar tus prestamos o reservar libros</p>
      </div>
    </div>
  </div>
</div>
