{{> navbarUser}}

<!-- User Home Body Markup -->
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col s12">
      <div class="blue darken-3" style="padding: 20px; text-align: center; color: white;">
        <i class="large material-icons">menu_book</i>
        <h4>¡Bienvenido a BiblioTec!</h4>
        <p>Explora nuestra amplia colección de libros digitales.</p>
        <p>Disfruta de la lectura y aprendizaje.</p>
      </div>
    </div>
  </div>
</div>
