<!-- Dropdown for "Usuarios" -->
<ul id="user-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/root/modify">
      <i class="large material-icons" style="margin: 2px;">person_add</i>
      Modificar Usuario
    </a>
  </li>
  <li>
    <a href="/root/manage">
      <i class="large material-icons" style="margin: 2px;">group</i>
      Gestionar Usuarios
    </a>
  </li>
  <li>
    <a href="/root/login">
      <i class="large material-icons" style="margin: 2px;">login</i>
      Ingresar con otra cuenta
    </a>
  </li>
  <li>
    <a href="/user/logout">
      <i class="large material-icons" style="margin: 2px;">logout</i>
      Salir
    </a>
  </li>
</ul>

<ul id="actions-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/root/addBook">
      <i class="large material-icons" style="margin: 2px;">library_add</i>
      Agregar libro
    </a>
  </li>
  <li>
    <a href="/root/listBooks">
      <i class="large material-icons" style="margin: 2px;">library_books</i>
      Listar libros
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/Penalties">
      <i class="large material-icons" style="margin: 2px;">money_off</i>
      Multas
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/loan">
      <i class="large material-icons" style="margin: 2px;">book</i>
      Pr茅stamos
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/reserveBook">
      <i class="large material-icons" style="margin: 2px;">event_note</i>
      Reservar libro
    </a>
  </li>
</ul>

<!-- Inicia marcado de barra de navegaci贸n -->
<nav class="blue darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <!-- Visulizaci贸n de navegaci贸n en pantalla completa -->
      <a href="/root/rootHome" class="brand-logo" style="margin-left: 50px;">
         BiblioTec
      </a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li>
          <a href="/root/rootHome">
            <i class="large material-icons right">
              home
            </i>
            Inicio
          </a>
        </li>

        <!-- Actions Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="actions-dropdown-menu">
            Acciones
            <i class="material-icons right">
              menu
            </i>
          </a>
        </li>
        <!-- User Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="user-dropdown-menu">
            Usuario
            <i class="material-icons right">
              people
            </i>
          </a>
        </li>
      </ul>
<!-- Visualizaci贸n de Navegaci贸n para m贸viles -->
<a href="#" data-target="nav-mobile" class="sidenav-trigger">
  <i class="material-icons">
    menu
  </i>
</a>
<ul id="nav-mobile" class="sidenav">
  <li>
    <a href="/root/rootHome">
      <i class="large material-icons left">
        home
      </i>
      Inicio
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/addBook">
      <i class="large material-icons left">
        library_add
      </i>
      Agregar libro
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/listBooks">
      <i class="large material-icons left">
        library_books
      </i>
      Listar libros
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/manage">
      <i class="large material-icons left">
        group
      </i>
      Gestionar Usuarios
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/Penalties">
      <i class="large material-icons left">
        money_off
      </i>
      Multas
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/loan">
      <i class="large material-icons left">
        book
      </i>
      Pr茅stamos
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/reserveBook">
      <i class="large material-icons left">
        event_note
      </i>
      Reservar libro
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/root/logout">
      <i class="material-icons left">
        exit_to_app
      </i>
      Salir
    </a>
  </li>
  <li class="divider"></li>
</ul>
</div>
</div>
</nav>

<div class="row">
    <div class="col s12 m10 offset-m1 18 offset-12">
        <div class="card">
            <div class="card-image">
                <img src="/" alt="Imagen de Creacion de libro">
            </div>
            <span class="card-title add-book" style="font-weight: bolder;">
                    Registrar Libro
            </span>
            <form autocomplete="off" action="/book/add" method="post">
                <div class="card-content">
                    <div class="input-field">
                        <label for="book-title">
                            T铆tulo del Libro
                        </label>
                        <input type="text"
                        id="book-title"
                        name="title"
                        placeholder="Ingrese el t铆tulo del libro"
                        class="validate" required>
                    </div>
                    <div class="input-field">
                        <label for="book-author">
                            Autor del Libro
                        </label>
                        <input type="text"
                        id="book-author"
                        name="author"
                        placeholder="Ingrese el autor del libro"
                        class="validate" required>
                    </div>
                    <div class="input-field">
                        <label for="book-category">
                            Categor铆a del Libro
                        </label>
                        <input type="text"
                        id="book-category"
                        name="category"
                        placeholder="Ingrese la categor铆a del libro"
                        class="validate" required>
                    </div>
                    <div class="input-field">
                        <label for="book-isbn">
                            ISBN del Libro
                        </label>
                        <input type="text"
                        id="book-isbn"
                        name="isbn"
                        placeholder="Ingrese el ISBN del libro"
                        class="validate" required>
                    </div>
                    <div class="input-field">
                        <label for="book-copies">
                            N煤mero de Copias Disponibles
                        </label>
                        <input type="number"
                        id="book-copies"
                        name="copies"
                        placeholder="Ingrese el n煤mero de copias disponibles"
                        class="validate" required>
                    </div>
                </div>
                <div class="card-action">
                    <button class="blue darken-3 waves-effect waves-light btn">
                       <i class="material-icons left">note_add</i> Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>