{{> navbarRoot}}
<h1>Crear Multa</h1>
<form action="/root/addPenalty" method="post">
  <label for="userId">ID del Usuario:</label>
  <input type="text" id="userId" name="userId" required>
  <label for="amount">Monto de la Multa:</label>
  <input type="number" id="amount" name="amount" required>
  <label for="reason">Razón de la Multa:</label>
  <input type="text" id="reason" name="reason" required>
  <input type="submit" value="Crear Multa">
</form>