{{> navbarRoot}}

<div style="margin-top: 20px;">
  <form action="/root/bookReport" method="post">
    <button class="waves-effect waves-light btn" style="display: block; margin: 0 auto; font-size: 20px;">
      <i class="material-icons left">cloud_download</i>
      Descargar reporte de libros
    </button>
  </form>
</div>
